*{
    box-sizing: border-box;
}
.container {
    width: 400px;
    margin: auto;
    background-color: brown;
    padding: 10px;
}

.container2 {
    width: 400px;
    margin: auto;
    background-color: brown;
    padding: 50px;
    color: gold;
    font-family: cursive;
}

input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(199, 81, 81);
    color: orange;
}

input::placeholder {
    color: orange;
}

button {
    border-radius: 6px;
    background-color: blue;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

.instruction {
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman';
}

select {
    background-color: orange;
}

